:root {
  --primary: #2d76f9;
  --secondary: #eef4ff;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: #212121;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

nav {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: transparent;
  padding: 36px 100px 0 100px;
  display: flex;
  align-items: center;
  height: 80px;
}

nav img {
  width: 135px;
  height: 36px;
  left: 100px;
  top: 32px;
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-left: 85px;
  line-height: 27px;
  cursor: pointer;
}

nav ul .active a {
  font-weight: 700;
  color: var(--primary);
}

nav ul a {
  text-decoration: none;
}

nav button {
  margin-left: auto;
}

button {
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
}

.button {
  background: #2d76f9;
  border-radius: 1500px;
  color: #ffffff;
  padding: 24px 58px;
  border: 1.5px solid var(--primary);
}

.button-inverse {
  background: #ffffff;
  width: 250px;
  height: 75px;
  color: var(--primary);
  border: 1.5px solid #ffffff;
}

.button-outline {
  border: 1.5px solid var(--primary);
  width: 175px;
  height: 50px;
  color: var(--primary);
  background-color: transparent;
}

.button-outline-inverse {
  border: 1.5px solid #ffffff;
  width: 250px;
  height: 75px;
  color: #ffffff;
  background-color: transparent;
}

.hero {
  background-color: var(--secondary);
  padding-top: 200px;
  border-radius: 0px 0px 0px 100px;
  padding-bottom: 90px;
  height: 850px;
  transform: translateY(-80px);
}

.hero__description {
  width: 533px;
  padding-left: 100px;
  padding-bottom: 90px;
}

.hero h1 {
  margin-top: 15px;
  width: 533px;
  height: 255px;
  font-weight: 600;
  font-size: 64px;
  line-height: 85px;
}

.hero p {
  width: 533px;
  height: 108px;
  margin-top: 40px;
  font-size: 18px;
  line-height: 36px;
  color: #747474;
}

.hero button {
  margin-top: 50px;
  line-height: 27px;
  font-weight: 500;
}

.hero img {
  position: absolute;
  left: 845px;
  top: 175px;
  width: 559px;
  height: 610px;
}

.features {
  margin: 150px 100px 0 100px;
  display: flex;
  gap: 40px;
}

.features__card {
  width: 387px;
  height: 288px;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef4ff;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.card-icon img {
  width: 56px;
  height: 56px;
}

.card-header {
  margin-top: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.card-description {
  margin-top: 30px;
  color: #747474;
}

.advantages {
  margin-top: 150px;
}

.advantages > div img {
  width: 700px;
  height: 600px;
  background: #eef4ff;
  border-radius: 0px 100px 100px 0px;
}

.advantages > div:nth-child(2) img {
  width: 700px;
  height: 600px;
  background: #eef4ff;
  border-radius: 100px 0px 0px 100px;
}

.advantages > div {
  display: flex;
}

.advantages > div:nth-child(2) {
  margin-top: 150px;
  flex-direction: row-reverse;
}

.advantages__info {
  margin-left: 147px;
  margin-right: 100px;
}

.advantages__info:nth-child(2) {
  margin-left: 100px;
  margin-right: 147px;
}

.advantages__header {
  margin-top: 120px;
  width: 493px;
  height: 130px;
  font-weight: 600;
  font-size: 36px;
  line-height: 65px;
}

.advantages__description {
  margin-top: 50px;
  width: 493px;
  height: 180px;
  font-size: 18px;
  line-height: 36px;
  color: #747474;
}

.userpaging {
  margin: 150px 100px 0 100px;
  padding-top: 100px;
  width: 1240px;
  height: 500px;
  background: var(--primary);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userpaging h2 {
  display: flex;
  width: 750px;
  height: 130px;
  font-weight: 600;
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 95px;
}

.userpaging__cta {
  display: flex;
  gap: 50px;
}

.testimonial {
  margin-top: 150px;
  display: flex;
}

.testimonial > img {
  padding-right: 47px;
  width: 700px;
  height: 600px;
  background: #eef4ff;
  border-radius: 0px 100px 100px 0px;
}

.testimonial__info {
  margin: 60px 0 0 147px;
}

.testimonial__info h3 {
  width: 493px;
  height: 65px;
  font-weight: 600;
  font-size: 36px;
  line-height: 65px;
}

.testimonial__user {
  margin-top: 50px;
  display: flex;
}

.user-info {
  margin-left: 31px;
}

.user-info .user-name {
  width: 159px;
  height: 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.user-info .user-status {
  margin-top: 20px;
}

.testimonial__info > p {
  margin-top: 49px;
  width: 493px;
  height: 150px;
  font-size: 18px;
  line-height: 36px;
}

footer {
  margin-top: 150px;
  padding: 75px 0 137px 100px;
}

footer > img {
  margin-bottom: 30px;
}

.footer__item {
  display: flex;
  gap: 40px;
}

.footer__item p {
  width: 387px;
  height: 108px;
  font-size: 18px;
  line-height: 36px;
  color: #747474;
}

.footer__item ul {
  list-style: none;
  width: 173px;
  height: 108px;
  font-size: 18px;
  line-height: 36px;
}

.footer__item ul li::before {
  content: '\2022';
  color: var(--primary);
  display: inline-block;
  width: 1em;
  margin-left: -0.9em;
}

.footer__item li,
.footer__item a {
  color: #747474;
  text-decoration: none;
}

.social-media-links {
  display: flex;
  align-items: flex-start;
  margin-left: 120px;
  gap: 43px;
  cursor: pointer;
}

.social-media-links img {
  width: 36px;
  height: 36px;
}
